<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseContentIdentifier</key>
	<string>com.apple.playgrounds.Shapes</string>
	<key>BaseContentVersion</key>
	<string>5.0.0</string>
	<key>ContentType</key>
	<string>PlaygroundBookUserEdit</string>
	<key>Diffs</key>
	<dict>
		<key>Chapters/Document1.playgroundchapter/Pages/3DA5B5FF-FFF5-4D4A-A1B9-384B06CEA496.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/3DA5B5FF-FFF5-4D4A-A1B9-384B06CEA496.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/54C9E62C-8332-49CF-95F7-6BB12BD5F944.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/54C9E62C-8332-49CF-95F7-6BB12BD5F944.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/B23F7BF3-2F38-4FE6-9182-CD76D59A3E04.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/B23F7BF3-2F38-4FE6-9182-CD76D59A3E04.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/BB0D6A8B-86C1-4944-AA62-19536C28C3C6.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/BB0D6A8B-86C1-4944-AA62-19536C28C3C6.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/D391E77E-DB73-4E3D-9875-FC6D7C4FA65A.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/D391E77E-DB73-4E3D-9875-FC6D7C4FA65A.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/UserManifest.plist</key>
		<string>Added</string>
		<key>UserModules/MyFiles.playgroundmodule/Sources/Chapter.swift</key>
		<string>Added</string>
		<key>UserModules/MyFiles.playgroundmodule/Sources/ColorPicker.swift</key>
		<string>Removed</string>
		<key>UserModules/MyFiles.playgroundmodule/Sources/Curtain.swift</key>
		<string>Added</string>
		<key>UserModules/MyFiles.playgroundmodule/Sources/Drawing.swift</key>
		<string>Removed</string>
		<key>UserModules/MyFiles.playgroundmodule/Sources/FinalScreen.swift</key>
		<string>Added</string>
		<key>UserModules/MyFiles.playgroundmodule/Sources/InfoSheet.swift</key>
		<string>Added</string>
		<key>UserModules/MyFiles.playgroundmodule/Sources/Journey.swift</key>
		<string>Added</string>
		<key>UserModules/MyFiles.playgroundmodule/Sources/Pages.swift</key>
		<string>Added</string>
		<key>UserModules/MyFiles.playgroundmodule/Sources/SetUpLiveView.swift</key>
		<string>Modified</string>
		<key>UserModules/MyFiles.playgroundmodule/Sources/ShapeExtras.swift</key>
		<string>Modified</string>
		<key>UserModules/MyFiles.playgroundmodule/Sources/SpotLight.swift</key>
		<string>Added</string>
		<key>UserModules/MyFiles.playgroundmodule/Sources/SpritePlayground.swift</key>
		<string>Removed</string>
		<key>UserModules/MyFiles.playgroundmodule/Sources/StoryScene.swift</key>
		<string>Added</string>
		<key>UserModules/MyFiles.playgroundmodule/Sources/StringExtension.swift</key>
		<string>Modified</string>
		<key>UserModules/MyFiles.playgroundmodule/Sources/TableCard.swift</key>
		<string>Added</string>
		<key>UserModules/MyFiles.playgroundmodule/Sources/Texts.swift</key>
		<string>Added</string>
		<key>UserModules/MyFiles.playgroundmodule/Sources/ThicknessPicker.swift</key>
		<string>Removed</string>
	</dict>
	<key>FormatVersion</key>
	<integer>2</integer>
	<key>UpdatedContentVersion</key>
	<string>5.0.0</string>
</dict>
</plist>
