<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>54C9E62C-8332-49CF-95F7-6BB12BD5F944.playgroundpage</string>
		<string>3DA5B5FF-FFF5-4D4A-A1B9-384B06CEA496.playgroundpage</string>
		<string>BB0D6A8B-86C1-4944-AA62-19536C28C3C6.playgroundpage</string>
		<string>D391E77E-DB73-4E3D-9875-FC6D7C4FA65A.playgroundpage</string>
		<string>B23F7BF3-2F38-4FE6-9182-CD76D59A3E04.playgroundpage</string>
	</array>
</dict>
</plist>
